# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  #push:
  #  branches: [ task5 ]
  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      # Build
      - name: Build
        run: |
        cd ..
        mkdir 3rdparty
        cd 3rdparty
        git clone https://github.com/google/googletest.git -b release-1.10.0
        cd ../task5
        cmake ./ -E env GOOGLE_TEST_DIR=googletest/googletest 
        make
        make install

      # Test
      - name: Test
        run: |
          echo Test1
          echo Test2
      # UploadArtifacts
      - name: UploadArtifacts
        run: echo Upload Arti!
