# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  #push:
  #  branches: [ task5 ]
  pull_request:
    branches: [ task5 ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: [self-hosted, linux]

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
        with:
          ref: task5 

      # Build
      - name: Build
        run: |
          cd ${{ github.workspace }}/task5
          mkdir 3rdparty
          mkdir build
          cd 3rdparty
          git clone https://github.com/google/googletest.git
          cd ${{ github.workspace }}/task5/build
          cmake -E env GOOGLE_TEST_DIR=googletest cmake -DCMAKE_INSTALL_PREFIX=inst .. 
          make
          make install

      # Test
      - name: Check out repository ActionGtestReport
        uses: actions/checkout@v2
        with:
          repository: akhtyamovpavel/ActionGtestReport
          path: ./.github/actions/my-test-repo
      - name: Run Test
        uses: ./.github/actions/my-test-repo/action    
      # UploadArtifacts
      - name: UploadArtifacts
        run: echo Upload Arti!
